<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>imgs</key>
	<array>
		<string>https://timgsa.baidu.com/timg?image&amp;quality=80&amp;size=b9999_10000&amp;sec=1532592346&amp;di=c374e251c47df0785248d7e121d928fc&amp;imgtype=jpg&amp;er=1&amp;src=http%3A%2F%2Fwww.nmjt.gov.cn%2Fimages%2Fjtzw%2Fxwdt%2Fmsdt%2Falsm%2F2014%2F08%2F06%2F718AACE4BE0C3FA58F4ECD8F348D5992.JPG</string>
		<string>https://timgsa.baidu.com/timg?image&amp;quality=80&amp;size=b9999_10000&amp;sec=1532592365&amp;di=a6e770bb3d28652605065f99ae23a1bd&amp;imgtype=jpg&amp;er=1&amp;src=http%3A%2F%2Fi7.hexunimg.cn%2F2013-12-30%2F161026007.jpg</string>
		<string>https://ss2.bdstatic.com/70cFvnSh_Q1YnxGkpoWK1HF6hhy/it/u=3634725617,4390485&amp;fm=27&amp;gp=0.jpg</string>
		<string>https://timgsa.baidu.com/timg?image&amp;quality=80&amp;size=b9999_10000&amp;sec=1531997666275&amp;di=607e1686b6c13ef5032413ec287346b4&amp;imgtype=0&amp;src=http%3A%2F%2Fimgsrc.baidu.com%2Fimage%2Fc0%253Dpixel_huitu%252C0%252C0%252C294%252C40%2Fsign%3D42b1c02e60600c33e474d68873343463%2Fcb8065380cd79123be0f974ea6345982b2b78018.jpg</string>
	</array>
	<key>root</key>
	<array>
		<dict>
			<key>img</key>
			<string>bg_middle_measure</string>
			<key>detail</key>
			<string>中间,第三方,计量单审核</string>
			<key>title</key>
			<string>计量审核</string>
		</dict>
		<dict>
			<key>title</key>
			<string>报表审核</string>
			<key>detail</key>
			<string>报表审核查看</string>
			<key>img</key>
			<string>bg_middle_measure</string>
		</dict>
		<dict>
			<key>title</key>
			<string>视频监控</string>
			<key>detail</key>
			<string>随时随地查看现场</string>
			<key>img</key>
			<string>bg_video</string>
		</dict>
	</array>
	<key>report</key>
	<array>
		<dict>
			<key>img</key>
			<string>bg_middle_measure</string>
			<key>detail</key>
			<string>中间计量单审核</string>
			<key>title</key>
			<string>中间计量单报表</string>
		</dict>
		<dict>
			<key>title</key>
			<string>监理计量报表</string>
			<key>detail</key>
			<string>监理计量报表审核</string>
			<key>img</key>
			<string>bg_middle_measure</string>
		</dict>
	</array>
	<key>mea</key>
	<array>
		<dict>
			<key>img</key>
			<string>bg_middle_measure</string>
			<key>detail</key>
			<string>中间计量单审核</string>
			<key>title</key>
			<string>中间计量单</string>
		</dict>
		<dict>
			<key>title</key>
			<string>第三方支付</string>
			<key>detail</key>
			<string>三方支付审核</string>
			<key>img</key>
			<string>bg_middle_measure</string>
		</dict>
		<dict>
			<key>title</key>
			<string>变更计量</string>
			<key>detail</key>
			<string>变更支付审核</string>
			<key>img</key>
			<string>bg_middle_measure</string>
		</dict>
		<dict>
			<key>title</key>
			<string>监理计量</string>
			<key>detail</key>
			<string>监理费用支付审核</string>
			<key>img</key>
			<string>bg_middle_measure</string>
		</dict>
	</array>
</dict>
</plist>
